// community partners
.community-partners {
  .community-partner-title h2 {
    @include media-breakpoint-down("sm") {
      font-size: 1.5rem;
    }
  }
  .community-partners-wrapper {
    .slick-arrow {
      &:before {
        color: theme-color("bodytext");
      }
      &.slick-next {
        right: 0;
        &:before {
          @include media-breakpoint-down("xs") {
            font-size: 15px;
          }
        }
        @include media-breakpoint-down("xs") {
          right: -15px;
        }
      }
      &.slick-prev {
        left: 0;
        &:before {
          @include media-breakpoint-down("xs") {
            font-size: 15px;
          }
        }
        @include media-breakpoint-down("xs") {
          left: -15px;
        }
      }
    }
    .slick-track {
      display: flex;
      align-items: center;
      @include media-breakpoint-down("xs") {
        display: block;
      }
      .slick-slide {
        height: 200px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down("xs") {
          height: auto;
        }
      }
    }

    .slick-dots li button {
      &:before {
        color: theme-color("bodytext");
        font-size: 1.5rem;
      }
    }
  }
}

// slick thumbnail

.slick-thumbnail-dots {
  ul {
    list-style: none;
    flex-wrap: wrap;
    li {
      width: 20%;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        img {
          margin-bottom: 1rem;
          width: 100px;
          transition: 0.4s;
          &:hover {
            width: 120px;
          }
        }
      }
    }
  }
}

.slick-thumbnail-content .slick-thumbs {
  display: none;
}

.slick-thumbnail-content {
  .slickslide .slick-arrow {
    &:before {
      color: theme-color("primary");
    }
  }

  .slick-slide .content-right img {
    width: 100%;
  }

  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
  .slick-thumbnail-content-slider {
    li {
      display: flex;
    }
  }
}

@media screen and (max-width: 1280px) {
  .slick-thumbnail-content {
    .slickslide .slick-arrow {
      display: none !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .slick-thumbnail-content {
    .slick-thumbnail-dots {
      display: none;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev {
      left: 20px;
    }
    .slickslide {
      padding-bottom: 10px;
      .slick-arrow {
        display: inline-block !important;
        top: 100%;
      }
    }
  }
}

//top banner
.top-banner {
  &.home-top-banner {
    .home-top-banner-overlay {
      h1 {
        margin-bottom: 12px;
      }
    }
    padding-top: 50px;
    padding-bottom: 50px;
    &::after {
      position: absolute;
      content: "";
      z-index: 10;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      left: 0;
      top: 0;
    }

    .slick-list img {
      width: 100%;
    }
  }
  padding-top: 25px;
  padding-bottom: 25px;
  .lg-gallery {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    .slick-list {
      height: 100% !important;
      .slick-track {
        height: 100%;
      }
    }
  }

  position: relative;
  .slick-slider {
    .slick-next {
      right: 80px;
      @include media-breakpoint-down("md") {
        right: 30px;
      }
    }
    .slick-prev {
      left: 80px;
      @include media-breakpoint-down("md") {
        left: 30px;
      }
    }
    .slick-arrow {
      z-index: 199;
      @include media-breakpoint-down("lg") {
        display: none !important;
      }
      &:hover {
        &:before {
          background-color: black;
          color: theme-color("lightgrey");
        }
      }
      &:before {
        padding: 10px 15px 10px 15px;
        border-radius: 50%;
        background-color: theme-color("lightgrey");
        color: black;
      }
    }
  }
  .slick-dots {
    bottom: 25px;
    z-index: 199;
    li button:before {
      font-size: 4rem;
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }
  }
  .slick-list {
    //height: auto !important;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .top-banner-overlay {
    h1 {
      margin-bottom: 0;
    }
    @include media-breakpoint-down(xs) {
      .banner-text {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          font-size: 1.5rem;
        }
      }
    }
    position: relative;
    z-index: 99;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h2 {
      @extend .mb-3;
    }
  }

  .top-banner-form {
    padding: 0.75rem;
    background-color: theme-color("primary");
  }

  .gform_wrapper {
    width: 350px;
    margin: 0;
    display: block;
    li.hidden_label input {
      margin-top: 0;
    }
    .gform_heading {
      .gform_title {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
      }
    }
    .gform_footer {
      margin: 0;
      padding: 0;
      input[type="submit"] {
        width: 100%;
        font-size: 1.25rem;
        background-color: theme-color("secondary");
      }
    }
    .gform_body > ul.gform_fields {
      display: block;
      width: 100%;
      li {
        margin-bottom: 1rem;
        padding-right: 0;
      }
    }
  }
}

.blog-banner {
  position: relative;
  .blog-page-banner-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

// thumbnail slider
.slick-thumbnail-content {
  .slick-dots {
    display: flex;
    justify-content: space-between;
    li {
      // make thumbnails bigger
      width: auto;
      height: auto;
      cursor: pointer;
      button {
        width: auto;
        height: auto;
      }
    }
  }

  .slick-initialized .slick-slide {
    @include media-breakpoint-up(md) {
      display: flex;
      height: 400px;
      .content-left,
      .content-right {
        width: 50%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    padding: 1rem;
    .content-left {
      background-color: theme-color("white");
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

//card overlay
.main-site-location {
  .card-overlay-component-wrapper {
    > div {
      flex: 0 0 49%;
      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
      }
      > .card {
        img {
          height: 300px;
          @include media-breakpoint-down(sm) {
            height: 200px;
          }
        }
      }
    }
  }
}
.card-overlay-component-wrapper {
  > div {
    flex: 0 0 24%;
    @include media-breakpoint-down(lg) {
      flex: 0 0 49%;
    }
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
    }
    > .card {
      -webkit-box-shadow: 0 2px 6px #e7e7e7;
      -moz-box-shadow: 0 2px 6px #e7e7e7;
      box-shadow: 0 2px 6px #e7e7e7;
      img {
        height: 200px;
        object-fit: cover;
      }
      &:not(:first_child) {
        padding-left: 1rem;
      }
      .card-top {
        position: relative;
        overflow: hidden;
        .card-overlay-content {
          position: absolute;
          padding: 10px;
          bottom: 0;
          left: -100%;
          right: 0;
          overflow: hidden;
          width: 100%;
          height: 100%;
          transition: 0.5s ease;
          background-color: rgba(13, 155, 215, 0.7);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: theme-color("white");
        }
        &:hover .card-overlay-content {
          left: 0;
        }

        .show-overlay-content {
          left: 0;
          // this one is to let it show on mobile when clicked
        }
      }
      > div:last-child {
        padding: 0px 10px;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
  }
}

// title underline
.title-underline {
  background-image: url("/wp-content/themes/wp-web-bcmortgagesonline/assets/dist/images/header-accent.png");
  background-size: 600px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 1.75rem;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.title-underline-center {
  background-image: url("/wp-content/themes/wp-web-bcmortgagesonline/assets/dist/images/header-accent.png");
  background-size: 600px;
  background-position: center 100%;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 1.75rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.2;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.tick {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  &:before {
    content: "";
    background-image: url("/wp-content/themes/wp-web-bcmortgagesonline/assets/dist/images/tick.png");
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0.75rem;
  }
}

//2 column procedure
.two-column-procedure-wrapper {
  > div {
    width: 50%;
    .procedures {
      padding-left: 2rem;
    }
    .slider-nav {
      display: flex;
      color: theme-color("primary");
      padding-left: 2rem;
      .slick-arrow {
        border: 1px solid rgb(200, 200, 200);
        padding: 0.75rem 1rem 0.75rem 1rem;
        border-radius: 3px;
        cursor: pointer;
        &.next-slide {
          margin-left: 1rem;
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    > div {
      width: 100%;
      .procedures {
        padding-left: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .slider-nav {
        padding-left: 0;
      }
    }
  }
}

// All services content

.all-services {
  .service-card-wrapper {
    margin-bottom: 1rem;
    flex: 0 0 33%;
    padding: 1rem;
    @include media-breakpoint-down(sm) {
      flex: 0 0 50%;
    }
    @include media-breakpoint-down(xs) {
      flex: 0 0 100%;
    }
    .card {
      height: 100%;
      border-top: 5px solid theme-color("primary");
      -webkit-box-shadow: 0 2px 6px #e7e7e7;
      -moz-box-shadow: 0 2px 6px #e7e7e7;
      box-shadow: 0 2px 6px #e7e7e7;
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      .service-icon {
        display: block;
        margin: auto;
        width: 50px;
        padding-bottom: 0.75rem;
      }
    }
  }
}

//team gallery
.member-image {
  margin-bottom: 1rem;
  height: 250px;
  .image-serious {
    display: none;
    object-fit: cover;
    height: 100%;
    margin: auto;
  }
  .image-fun {
    object-fit: cover;
    height: 100%;
    display: block;
    margin: auto;
  }
  &:hover {
    a .image-fun {
      display: none;
    }

    a .image-serious {
      display: block;
    }
  }
}

.emc-field--content {
  .js-emc-price,
  .js-emc-field {
    border: 1px solid darken(theme-color("lightgrey"), 15%) !important;
    max-width: 300px;
  }
}

.lg-testimonial-card {
  padding-left: 50px;
  padding-right: 50px;
  p::before {
    content: "";
    background-image: url("/wp-content/themes/wp-web-bcmortgagesonline/assets/dist/images/google.svg");
    width: 30px;
    height: 30px;
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-position: center;
  }
}

#badge-triband {
  > div {
    > div {
      > div {
        @include media-breakpoint-up(md) {
          max-width: 50%;
        }
      }
    }
  }
}
