hr.lg {
    margin-top: $hr-margin-y * 3;
    margin-bottom: $hr-margin-y * 3;
}

body {
    > img {
        position: absolute;
        left: -50px;
    }
}

.lg-social-media {
    display: flex;
    list-style: none;
    li:not(:last-child) {
        margin-right: 10px;
    }
}

.hide-video-before {
    .embed-responsive:before {
        display: none;
    }
}

// general settings
$btn-radius: 5px;

.img-cover .flexible_2_column_grid .grid-2-column img {
    height: 100%;
    object-fit: cover;
}

#error-page {
    font-family: $font-family-base;
    color: theme-color("bodytext");
    margin: 0;
    padding: 0;
    box-shadow: none;
    max-width: none;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $headings-font-family;
    }
}

ul {
    padding-left: 0;
}

p {
    margin-bottom: 0;
}

a {
    color: theme-color("primary");
}

.embed-no-padding {
    .embed-responsive:before {
        padding-top: 0;
    }
}

.link-bodytext {
    color: theme-color("bodytext");
}

.gform_wrapper .gform_footer input[type="submit"] {
    padding: 5px 1rem;
}

.list-padding {
    padding-left: 2rem;
}

// change cta block button
.flexible_call-to-action {
    .button {
        a {
            @extend .btn-outline-white;
            padding: 0.5rem 2.4rem;
            font-size: 18px;
            border-color: transparent;
        }
    }
}

body {
    color: theme-color("bodytext");
}

.btn {
    border-radius: $btn-radius;
}

//custom class two hide stuff

.mobile-hide-first-col .flexible_2_column_grid {
    @include media-breakpoint-down(sm) {
        .grid-2-column:first-child {
            display: none;
        }
    }
}

.mobile-hide-second-col .flexible_2_column_grid {
    @include media-breakpoint-down(sm) {
        .grid-2-column:last-child {
            display: none;
        }
    }
}

//two col layout spacing on mobile
.flexible_2_column_grid .grid-2-column {
    @include media-breakpoint-down(sm) {
        &.order-1 {
            margin-bottom: 1rem;
        }
    }
}

.flexible_call-to-action .copy {
    h3 {
        margin-bottom: 0;
    }
}

//testimonials scrolling
#quick-feedback-reviews-widget {
    @include media-breakpoint-down("md") {
        overflow-y: scroll;
    }
}

.remove-embed-padding .embed-responsive-16by9::before {
    padding-top: 0;
}

.dark-overlay {
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

//reduce instagram feed on mobile
@media (max-width: 768px) {
    #sb_instagram #sbi_images .sbi_item {
        display: none;
    }
    #sb_instagram #sbi_images .sbi_item:nth-child(-n + 4) {
        display: inline-block;
    }
}

// Modify H1 weight globally
h1,
.h1 {
    font-weight: 600;
}

/*this fixes the lazy load bug*/
.embed-responsive-16by9:before {
    padding-top: 0;
}

.cff-media-link .fa,
#cff .cff-cta-link a {
    font-family: "Font Awesome\ 5 Free";
}
