#site-footer {
	font-weight: 400;
	.h5 {
		margin-bottom: 1.5rem;
	}
	#site-footer-main {
		background-color: theme-color("primary");
		&.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
	color: #fff;
	a {
		color: #fff;
		&:hover {
			color: theme-color("hover");
		}
	}

	#menu-footer-nav {
		margin-bottom: 1.5rem;
	}

	@include media-breakpoint-down("sm") {
		.quick-links,
		.footer-hours,
		.footer-locations {
			margin-bottom: 1.5rem;
		}

		.lg-social-media {
			margin-bottom: 0;
		}
	}
	.menu-footer-nav-container {
		ul li:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	.footer-hours {
		p:not(:last-child) {
			margin-bottom: 5px;
		}
	}

	.footer-locations {
		.h5 {
			color: theme-color("white");
		}
		ul {
			list-style: none;
			padding-left: 0px;
			li:not(:last-child) {
				margin-bottom: 5px;
			}
			li a {
				color: theme-color("white");
				&:hover {
					color: theme-color("hover");
				}
			}
		}
	}
	.quick-links,
	.footer-address-card {
		.h5 {
			color: theme-color("white");
		}
		ul {
			list-style: none;
			padding-left: 0px;
			a {
				color: theme-color("white");
				&:hover {
					color: theme-color("hover");
				}
			}
		}
		.lg-social-media {
			display: flex;
			li {
				&:not(:last-child) {
					margin-right: 15px;
				}
			}
		}
	}
	.footer-instagram-feed {
		#sb_instagram .sbi_header_img img {
			border: 1px solid theme-color("lightgrey") !important;
		}
		.sb_instagram_header {
			padding: 0 !important;
		}
	}
	#site-legal {
		font-weight: 300;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.footer-address-card {
		> img {
			width: 85%;
		}
	}
}
