::placeholder {
    font-family: "Montserrat", sans-serif;
}

.ui-datepicker {
    display: none !important;
}

.referral-form_wrapper.gform_wrapper {
    .remove-label {
        .gfield_label {
            display: none !important;
        }
    }
}

.referral-form_wrapper.gform_wrapper {
    .ginput_container_date {
        .clear-multi {
            display: flex;
            .ginput_container_date:not(:last-child) {
                padding-right: 1rem;
            }
            label {
                display: none;
            }
        }
    }
    .gfield_label {
        display: inline-block !important;
        .gfield_required {
            display: none;
        }
    }
    .gform_body {
        > ul.gform_fields {
            display: block;
            width: 100%;
            > li {
                margin-bottom: 1rem;
            }
        }

        .gfield_radio {
            display: flex;
            flex-wrap: wrap;
            > li:not(:last-child) {
                padding-right: 1rem;
            }
            > li input {
                margin-right: 5px;
            }
        }
        .gfield_checkbox {
            display: flex;
            flex-wrap: wrap;
            > li:not(:last-child) {
                padding-right: 1rem;
            }
            > li input {
                margin-right: 5px;
            }
        }
    }
}

.top-banner-form {
    .gform_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .gform_body {
            > ul.gform_fields {
                margin-bottom: 0;
            }
        }

        .gform_footer input[type="submit"] {
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}

.gform_wrapper {
    display: flex;
    align-items: flex-start;
    $form-email-margin: 25px;
    $text-input-height: 45px;
    $input-padding: 15px;
    form {
        width: 100%;
    }
    .gform_body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        li {
            list-style: none;
        }
        > ul.gform_fields {
            // display: none;
        }
        .top_label div.ginput_container {
            margin-top: 0px;
        }
        .left-fields {
            padding-right: 40px;
            @include media-breakpoint-down(sm) {
                padding-right: 0px;
                .gform_fields {
                    margin-bottom: 0;
                }
            }
        }
        .left-fields,
        .right-fields {
            width: 50%;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        .gform_fields {
            list-style: none;
            padding-left: 0;
            .gfield {
                margin-top: 0px;
                input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
                    height: $text-input-height;
                    padding: $input-padding;
                    width: 100%;
                }
                textarea.large {
                    height: calc(
                        3 * #{$text-input-height} + 2 * #{$form-email-margin}
                    );
                    padding: $input-padding;
                    width: 100%;
                    @include media-breakpoint-down(sm) {
                        height: 250px;
                    }
                }
                &.form-email {
                    margin-top: $form-email-margin;
                    margin-bottom: $form-email-margin;
                }
                &.form-message {
                    @include media-breakpoint-down(sm) {
                        margin-top: $form-email-margin;
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }
}

.pre-approval-form {
    $fieldmarginbottom: 1.25rem;
    .gform_wrapper .gform_body {
        display: block;
        .form-wrap {
            @include media-breakpoint-up(md) {
                display: flex;
            }
            margin-bottom: 1.75rem;
        }
        ul.gform_fields {
            width: 100%;
            li.gfield {
                margin-bottom: $fieldmarginbottom;
                select {
                    height: 45px;
                    padding: 0 15px;
                    width: 100%;
                }
                &.field_sublabel_below {
                    label {
                        display: none;
                    }
                }
                .ginput_container_date {
                    .screen-reader-text {
                        display: none;
                    }
                }
                .ginput_container_address {
                    > span:not(:last-of-type) {
                        input,
                        select {
                            margin-bottom: $fieldmarginbottom;
                        }
                    }
                }
            }
        }
    }
}
