#site-header {
	.utility-bar {
		background-color: theme-color("primary");
		color: #fff;
		a {
			color: #fff;
		}
		.lg-social-media {
			list-style: none;
			display: flex;
			margin-bottom: 0;
			padding-left: 0;
			li {
				a i:before {
					color: #fff;
				}
				a i:hover {
					&:before {
						color: theme-color("hover");
					}
				}
			}
			li:not(:last-child) {
				margin-right: 15px;
			}
		}
		.right {
			a:hover {
				color: theme-color("hover");
			}
		}
	}
	.header-main {
		padding: 1rem 0;
		.site-branding .logo {
			width: 120px;
			@include media-breakpoint-up(md) {
				width: 175px;
			}
		}
	}
	.main-navigation {
		margin-top: 10px;
		& > .navbar .navbar-nav {
			.menu-item {
				.dropdown-menu {
					background-color: #fff;
					padding: 0;
					.dropdown-item {
						text-transform: none !important;
						color: theme-color("bodytext");
						padding: 10px 15px;
						&:hover {
							color: theme-color("white");
							background-color: theme-color("primary");
						}
						&.active {
							color: theme-color("white");
							background-color: theme-color("primary");
						}
					}
				}
				.nav-link {
					text-transform: none !important;
					font-size: 1rem;
					&:hover {
						color: theme-color("primary");
					}
				}
			}
		}
	}
}

@media (max-width: 991.98px) {
	#site-header {
		.header-main {
			.main-navigation {
				background-color: theme-color("primary");
				ul {
					li {
						a {
							border-color: #fff;
							color: #fff !important;
							opacity: 1;
							&.dropdown-item {
								color: theme-color("primary") !important;
							}
							&.dropdown-item.active {
								color: #fff !important;
							}
						}
					}
				}
			}
		}
	}
}
